# NativeScript
hooks/
node_modules/
platforms/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
tmp/
typings/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/extensions.json
.vscode/settings.json
App_Resources/Android/app.gradle
App_Resources/Android/src/main/AndroidManifest.xml
App_Resources/Android/src/main/res/drawable/ic_launcher_foreground.xml
App_Resources/Android/src/main/res/drawable-hdpi/background.png
App_Resources/Android/src/main/res/drawable-hdpi/logo.png
App_Resources/Android/src/main/res/drawable-ldpi/background.png
App_Resources/Android/src/main/res/drawable-ldpi/logo.png
App_Resources/Android/src/main/res/drawable-mdpi/background.png
App_Resources/Android/src/main/res/drawable-mdpi/logo.png
App_Resources/Android/src/main/res/drawable-nodpi/splash_screen.xml
App_Resources/Android/src/main/res/drawable-xhdpi/background.png
App_Resources/Android/src/main/res/drawable-xhdpi/logo.png
App_Resources/Android/src/main/res/drawable-xxhdpi/background.png
App_Resources/Android/src/main/res/drawable-xxhdpi/logo.png
App_Resources/Android/src/main/res/drawable-xxxhdpi/background.png
App_Resources/Android/src/main/res/drawable-xxxhdpi/logo.png
App_Resources/Android/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
App_Resources/Android/src/main/res/mipmap-hdpi/ic_launcher.png
App_Resources/Android/src/main/res/mipmap-mdpi/ic_launcher.png
App_Resources/Android/src/main/res/mipmap-xhdpi/ic_launcher.png
App_Resources/Android/src/main/res/mipmap-xxhdpi/ic_launcher.png
App_Resources/Android/src/main/res/mipmap-xxxhdpi/ic_launcher.png
App_Resources/Android/src/main/res/values/colors.xml
App_Resources/Android/src/main/res/values/ic_launcher_background.xml
App_Resources/Android/src/main/res/values/styles.xml
App_Resources/Android/src/main/res/values-v21/colors.xml
App_Resources/Android/src/main/res/values-v21/styles.xml
App_Resources/Android/src/main/res/values-v29/styles.xml
App_Resources/iOS/build.xcconfig
App_Resources/iOS/Info.plist
App_Resources/iOS/LaunchScreen.storyboard
App_Resources/iOS/Assets.xcassets/Contents.json
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/Contents.json
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-20.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-20@2x.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-20@3x.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-29.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-29@2x.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-29@3x.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-40.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-40@2x.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-40@3x.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-60@2x.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-60@3x.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-76.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-76@2x.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-83.5@2x.png
App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-1024.png
App_Resources/iOS/Assets.xcassets/LaunchScreen.AspectFill.imageset/Contents.json
App_Resources/iOS/Assets.xcassets/LaunchScreen.AspectFill.imageset/LaunchScreen-AspectFill.png
App_Resources/iOS/Assets.xcassets/LaunchScreen.AspectFill.imageset/LaunchScreen-AspectFill@2x.png
App_Resources/iOS/Assets.xcassets/LaunchScreen.AspectFill.imageset/LaunchScreen-AspectFill@3x.png
App_Resources/iOS/Assets.xcassets/LaunchScreen.Center.imageset/Contents.json
App_Resources/iOS/Assets.xcassets/LaunchScreen.Center.imageset/LaunchScreen-Center.png
App_Resources/iOS/Assets.xcassets/LaunchScreen.Center.imageset/LaunchScreen-Center@2x.png
App_Resources/iOS/Assets.xcassets/LaunchScreen.Center.imageset/LaunchScreen-Center@3x.png
/.vs/slnx.sqlite
/.vs
