<ActionBar title="Login credentials " class="class_grid1">
</ActionBar>

<StackLayout margintop="200">
    <TextField hint="Email Address" class="class_grid"  keyboardType="email"
      autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField hint="Password" class="class_grid" secure="true"></TextField>

    <Button text="Sign up for Groceries" class="btncss"></Button>
    
    
    
    <Button text="Createaccount" class="btncss" (tap)="gotocreateaccount()"></Button>

    <Button text="ForgotPassword" class="btncss"></Button>
  </StackLayout>


