<ActionBar title="CreateAccount " class="class_grid1">
</ActionBar>

<StackLayout margintop="150">
    <TextField hint="FirstName" class="class_grid" autocorrect="false"
        autocapitalizationType="none"></TextField>
    <TextField hint="LasttName" class="class_grid" autocorrect="false"
        autocapitalizationType="none"></TextField>
    <TextField hint="UserName" class="class_grid" autocorrect="false"
        autocapitalizationType="none"></TextField>
    <TextField hint="MobileNumber" class="class_grid" autocorrect="false"
        autocapitalizationType="none"></TextField>
    <TextField hint="Email Address" class="class_grid"
        keyboardType="Email" autocorrect="false"
        autocapitalizationType="none"></TextField>
    <TextField hint="Password" secure="true" class="class_grid">
    </TextField>
    <TextField hint="ConfirmPassword" secure="true" class="class_grid">
    </TextField>

    <Button text="CreateAccount" class="btncss"></Button>
</StackLayout>