<GridLayout rows="auto, *">
    <common-header></common-header>
    <ScrollView  row="1" height="100%" iosOverflowSafeAreaEnabled="false">
       <StackLayout>

          <commonhorizontalscroll></commonhorizontalscroll> 

          <commonhorizontalscroll></commonhorizontalscroll>

          <commonhorizontalscroll></commonhorizontalscroll>

          <commonhorizontalscroll></commonhorizontalscroll>

          <commonhorizontalscroll></commonhorizontalscroll>

    </StackLayout>  
</ScrollView>
</GridLayout>