<ActionBar title="" id="class_grid">
  <StackLayout orientation="horizontal">
      <Label width="33%" height="25%" text="&#xf0c9;" class="fas fs-30"
          style="color:white;">
      </Label>
      <Label class="ft20" text="My Classes / Schedules" width="47%" height="50"
          style="color:white" TextAlignment="center">
      </Label>
      <Label text="" width="20%" height="50"
      style="color:white">
  </Label>
  </StackLayout>
</ActionBar>



<StackLayout orientation="horizontal" class="brd_btm" style="margin-top:-1800px;" >
<Label  width="10%" height="50">
  </Label>
  <Label class="fas fs-30" text="&#xf104;" width="23%" height="50"
      textAlignment="left" verticalAlignment="center">
  </Label>
  <Label class="ft20" text="Today" width="33%" height="50"
      textAlignment="center" verticalAlignment="center">
  </Label>
  <Label class="fas fs-30" text="&#xf105;" width="23%" height="50"
      textAlignment="right" verticalAlignment="center">
  </Label>
  <Label  width="10%" height="50">
  </Label>
</StackLayout>


