 <GridLayout rows="auto, *">
  
   <ScrollView  row="1" height="100%" iosOverflowSafeAreaEnabled="false">
      <StackLayout>
      
         <ActionBar class="class_grid1">
            <NavigationButton visibility="hidden"></NavigationButton>
            <GridLayout columns="50,*,50" row="*">
               <Label class="fas fs-30" text="&#xf0c9; "row="0" col="0" (tap)="onDrawerButtonTap()"></Label>
                <Label class="fas ft20 action-bar-title" row="0" col="1" text="Vegitable Market" ></Label>
              <Label class="fas fs-30" text="&#xf508;" row="0" col="2" (tap)="gotologin()"></Label> 
            </GridLayout>
         </ActionBar>
  
         
          <Label *ngIf="true"  [text]="'Categories1'" class="bold font-size-h3"  margin="20 20 0 20"></Label>
          <ng-container>
              <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                  <StackLayout orientation="horizontal" padding="10 20">
                      
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                    
                  </StackLayout>
              </ScrollView>
          </ng-container>
          <Label *ngIf="true"  [text]="'Categories2'" class="bold font-size-h3"  margin="20 20 0 20"></Label>
          <ng-container>
              <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                  <StackLayout orientation="horizontal" padding="10 20">
                      
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                    
                  </StackLayout>
              </ScrollView>
          </ng-container>
          <Label *ngIf="true"  [text]="'Categories3'" class="bold font-size-h3"  margin="20 20 0 20"></Label>
          <ng-container>
              <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                  <StackLayout orientation="horizontal" padding="10 20">
                      
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                    
                  </StackLayout>
              </ScrollView>
          </ng-container>
          <Label *ngIf="true"  [text]="'Categories4'" class="bold font-size-h3"  margin="20 20 0 20"></Label>
          <ng-container>
              <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                  <StackLayout orientation="horizontal" padding="10 20">
                      
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                    
                  </StackLayout>
              </ScrollView>
          </ng-container>
          <Label *ngIf="true"  [text]="'Categories5'" class="bold font-size-h3"  margin="20 20 0 20"></Label>
          <ng-container>
              <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                  <StackLayout orientation="horizontal" padding="10 20">
                      
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                    
                  </StackLayout>
              </ScrollView>
          </ng-container>
          <Label *ngIf="true"  [text]="'Categories6'" class="bold font-size-h3"  margin="20 20 0 20"></Label>
          <ng-container>
              <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                  <StackLayout orientation="horizontal" padding="10 20">
                      
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                        <CardView class="cardStyle" margin="5" elevation="20" radius="1" height="220" col="0" >
                           <GridLayout  rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                <image
                                 [src]="'https://images.all-free-download.com/images/graphicthumb/onion_vegetables_shell_214521.jpg'"
                                 stretch="aspectFit" colSpan="3" col="1" row="3" >
                              </image>
                          </GridLayout>
                        </CardView>
                    
                  </StackLayout>
              </ScrollView>
          </ng-container>
      </StackLayout>
  </ScrollView>


</GridLayout>
 
 