<GridLayout rows="auto, *">
<common-header></common-header>
<ScrollView  row="1" height="100%" iosOverflowSafeAreaEnabled="false">
   <StackLayout>  
      <GridLayout>
         <SearchBar hint="Search hint" backgroundColor="#D7B7FC" width="80%" height="40" marginTop="25"
              [text]="searchPhrase" verticalAlignment="top" 
             (submit)="onSearchSubmit($event)">
         </SearchBar> 
      </GridLayout>     
      <ng-container>
         <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
            <StackLayout orientation="horizontal" padding="10 20">
       <GridLayout  rows="150" columns="280,280,280,280,280" marginTop="15">
        <image src="res://vegetables" stretch="aspectFill" class="cat_image1" height="150" width="260" col="0" row="0"  ></image> 
     
         <image src="res://fruits" stretch="aspectFill" class="cat_image1" height="150" width="260" col="1" row="0" ></image> 
     
         <image src="res://leafy_veg" stretch="aspectFill" class="cat_image1" height="150" width="260"  col="2" row="0" ></image> 
     
         <image src="res://chocolate" stretch="aspectFill" class="cat_image1" height="150" width="260" col="3" row="0" ></image> 
         <image src="res://grocery_bag" stretch="aspectFit" class="cat_image1" height="150" backgroundColor="#00e600" width="260" col="4" row="0" ></image> 
      </GridLayout>
     </StackLayout>
     </ScrollView>
     </ng-container>




         <stacklayout orientation="horizontal" width="100%" height="50" verticalAlignment="top" margin="15px">
            <Label text="Catagories" class="ft20"  width="80%" height="40" style="padding-left: 20;"></Label>     
            <Label  width="20%" height="30" (tap)="GoToSeeAllItems()">
               <FormattedString>
                  <Span text="See All  " class="ft20 color-violet"></Span>
                     <Span text="&#xf0da;" class="ft18 fas color-violet ml-10"></Span>
                 </FormattedString>
           </Label>
         </stacklayout>

          <ng-container>
            <GridLayout columns="auto,auto" rows="auto,auto" verticalAlignment="top" margin="5" >

               <ng-container >
                  <GridLayout height="150" margin="15,7.5,7.5,15" width="170" class="cat_image" (tap)="GoTovegitabelsList()"row="0" col="0">
                     <image  height="150" margin="15,7.5,7.5,15" width="170" class="cat_image"
                     src="res://vegetables" stretch="aspectFill" ></image>
                  
                      <ng-container>
                          <ContentView backgroundColor="#404040" class="cat_image" opacity="0.5" row="0" col="0" height="150" width="170"></ContentView>
                      </ng-container>
      
                    
                      <StackLayout row="0" col="0" verticalAlignment="center" horizontalAlignment="left" width="90%" padding="20">
                        <Label text="Vegitables" class="bold" fontSize="15" color="#fff"></Label>
                     
                    </StackLayout>
                     </GridLayout>
                 </ng-container>


                 <ng-container >
                  <GridLayout height="150" margin="15,15,7.5,7.5" width="170" class="cat_image" row="0" col="1">
                     <image  height="150" margin="15,15,7.5,7.5" width="170" class="cat_image"
                     src="res://fruits" stretch="aspectFill" (tap)="GoToFruitsList()"></image>
                   
                       <ng-container>
                          <ContentView backgroundColor="#404040" class="cat_image" opacity="0.5" row="0" col="1" height="150" width="170"></ContentView>
                      </ng-container> 
      
                    
                      <StackLayout row="0" col="1" verticalAlignment="center" horizontalAlignment="left" width="70%" padding="20">
                        <Label text="Fruits" class="bold" fontSize="15" color="#fff"></Label>
                     
                    </StackLayout>
                     </GridLayout>
                 </ng-container>
      
                 <ng-container >
                  <GridLayout height="150" margin="7.5,7.5,15,15" width="170" class="cat_image" row="1" col="0" >
                     <image  height="150" margin="7.5,7.5,15,15" width="170" class="cat_image"
                     src="res://leafy_veg" stretch="aspectFill" (tap)="GoToLeafyvegitabelsList()"></image>
                    
                      <ng-container>
                        <ContentView backgroundColor="#404040" class="cat_image" opacity="0.5" row="1" col="0" height="150" width="170"></ContentView>
                    </ng-container>
      
                    
                      <StackLayout row="1" col="0" verticalAlignment="center" horizontalAlignment="left" width="100%" padding="20">
                        <Label text="Leafy" class="bold" fontSize="15" color="#fff"></Label>
                        <Label text="Vegitables" class="bold" fontSize="15" color="#fff"></Label>
                    </StackLayout>
                     </GridLayout>
                 </ng-container>
                   
                 <ng-container >
                  <GridLayout height="150" margin="7.5,15,15,7.5" width="170" class="cat_image" row="1" col="1">
                     <image  height="150" margin="7.5,15,15,7.5" width="170" class="cat_image" 
                     src="res://chocolate" stretch="aspectFill" (tap)="GoToChacolatesList()"></image>
                      
                      <ng-container>
                          <ContentView backgroundColor="#404040" class="cat_image" opacity="0.5" row="1" col="1" height="150" width="170"></ContentView>
                      </ng-container>
   
                      <StackLayout row="1" col="1" verticalAlignment="center" horizontalAlignment="left" width="100%" padding="20">
                        <Label text="Chacolates" class="bold" fontSize="15" color="#fff"></Label>
                     
                    </StackLayout>
                     </GridLayout>
                 </ng-container>
            </GridLayout>                
         </ng-container>
         

        <stacklayout orientation="horizontal" width="100%" height="50" verticalAlignment="top" backgroundcolor="red">
            <Label text="Recommanded Products" class="ft20"  width="80%" height="40" style="padding-left: 20;"></Label>     
            <Label  width="20%" height="30" (tap)="GoToSeeAllItems()">
               <FormattedString>
                <Span text="See All  " class="ft20 color-violet"></Span>
                   <Span text="&#xf0da;" class="ft18 fas color-violet ml-10"></Span>
               </FormattedString>
           </Label>
         </stacklayout>
        

         <ng-container>
            <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
               <StackLayout orientation="horizontal">
                  <GridLayout  rows="auto" columns="200,200,200,200,200,200,200,200,200" >
                 
                     <GridLayout rows="*, *, *" columns="*, *" row="0" col="0">
                 
                     <GridLayout height="50" width="100" row="0" col="0">
                       <image  height="50" width="100" class="cat_image" src="res://discount" stretch="aspectFit" row="0" col="0"></image> 
                 
                         <StackLayout row="0" col="0" verticalAlignment="center" horizontalAlignment="left" width="90"  >
                          <Label text="55%" class="bold" margin="0,0,0,35" fontSize="15" color="#fff"></Label>
                      </StackLayout>
                       </GridLayout>
                        
                             <image height="40" width="18" class="cat_image" src="res://rupeeicon" stretch="aspectFit" row="0" col="1"></image>
                      
                     <image height="100" width="100" class="cat_image" src="res://flourcopy" stretch="aspectFit" row="1" col="0" colSpan="2"></image> 
                    
                     <StackLayout row="2" col="0" colSpan="2" class="text-center">
                       <Label text="Double Daimond" textWrap="true" class="color-black" alignContent="center"></Label>
                       <Label text="Premium Medha Flour" textWrap="true" class="color-black" alignContent="center"></Label>           
                     </StackLayout>    
                    </GridLayout> 
                    
                      
                    <GridLayout rows="*, *, *" columns="*, *" row="0" col="1"> 
                 
                       <image  height="50" width="100" class="cat_image" src="res://discount" stretch="aspectFit" row="0" col="0"></image> 
                 
                       <StackLayout row="0" col="0" verticalAlignment="center" horizontalAlignment="left" width="90" row="0" col="0" >
                          <Label text="75%" class="bold" margin="0,0,0,35" fontSize="15" color="#fff"></Label>
                      </StackLayout>
                       <image height="100" width="100" class="cat_image" src="res://flour1copy" stretch="aspectFit" row="1" col="0" colSpan="2"></image> 
                 
                       <StackLayout row="2" col="0" colSpan="2" class="text-center">
                          <Label text="Shreya Gold Tor Dal" textWrap="true" class="color-black" alignContent="center"></Label>
                     </StackLayout>
                    </GridLayout> 

                    <GridLayout rows="*, *, *" columns="*, *" row="0" col="2"> 
                 
                     <image  height="50" width="100" class="cat_image" src="res://discount" stretch="aspectFit" row="0" col="0"></image> 
               
                     <StackLayout row="0" col="0" verticalAlignment="center" horizontalAlignment="left" width="90" row="0" col="0" >
                        <Label text="55%" class="bold" margin="0,0,0,35" fontSize="15" color="#fff"></Label>
                    </StackLayout>
                     <image height="100" width="100" class="cat_image" src="res://edible_oils" stretch="aspectFit" row="1" col="0" colSpan="2"></image> 
               
                     <StackLayout row="2" col="0" colSpan="2" class="text-center">
                        <Label text="Shreya Gold Edible Oil" textWrap="true" class="color-black" alignContent="center"></Label>
                   </StackLayout>
                  </GridLayout> 

                  <GridLayout rows="*, *, *" columns="*, *" row="0" col="3"> 
                 
                     <image  height="50" width="100" class="cat_image" src="res://discount" stretch="aspectFit" row="0" col="0"></image> 
               
                     <StackLayout row="0" col="0" verticalAlignment="center" horizontalAlignment="left" width="90" row="0" col="0" >
                        <Label text="35%" class="bold" margin="0,0,0,35" fontSize="15" color="#fff"></Label>
                    </StackLayout>
                     <image height="100" width="100" class="cat_image" src="res://matar_besan" stretch="aspectFit" row="1" col="0" colSpan="2"></image> 
               
                     <StackLayout row="2" col="0" colSpan="2" class="text-center">
                        <Label text="Priya Premium Besan Flour" textWrap="true" class="color-black" alignContent="center"></Label>
                   </StackLayout>
                  </GridLayout> 

                  <GridLayout rows="*, *, *" columns="*, *" row="0" col="4"> 
                 
                     <image  height="50" width="100" class="cat_image" src="res://discount" stretch="aspectFit" row="0" col="0"></image> 
               
                     <StackLayout row="0" col="0" verticalAlignment="center" horizontalAlignment="left" width="90" row="0" col="0" >
                        <Label text="45%" class="bold" margin="0,0,0,35" fontSize="15" color="#fff"></Label>
                    </StackLayout>
                     <image height="100" width="100" class="cat_image" src="res://snacks" stretch="aspectFit" row="1" col="0" colSpan="2"></image> 
               
                     <StackLayout row="2" col="0" colSpan="2" class="text-center">
                        <Label text="Potato Chilli Chips" textWrap="true" class="color-black" alignContent="center"></Label>
                   </StackLayout>
                  </GridLayout> 

                  <GridLayout rows="*, *, *" columns="*, *" row="0" col="5"> 
                 
                     <image  height="50" width="100" class="cat_image" src="res://discount" stretch="aspectFit" row="0" col="0"></image> 
               
                     <StackLayout row="0" col="0" verticalAlignment="center" horizontalAlignment="left" width="90" row="0" col="0" >
                        <Label text="25%" class="bold" margin="0,0,0,35" fontSize="15" color="#fff"></Label>
                    </StackLayout>
                     <image height="100" width="100" class="cat_image" src="res://grain" stretch="aspectFit" row="1" col="0" colSpan="2"></image> 
               
                     <StackLayout row="2" col="0" colSpan="2" class="text-center">
                        <Label text="Shreya Gold Tor Dal Loose" textWrap="true" class="color-black" alignContent="center"></Label>
                   </StackLayout>
                  </GridLayout> 

                  <GridLayout rows="*, *, *" columns="*, *" row="0" col="6"> 
                 
                     <image  height="50" width="100" class="cat_image" src="res://discount" stretch="aspectFit" row="0" col="0"></image> 
               
                     <StackLayout row="0" col="0" verticalAlignment="center" horizontalAlignment="left" width="90" row="0" col="0" >
                        <Label text="75%" class="bold" margin="0,0,0,35" fontSize="15" color="#fff"></Label>
                    </StackLayout>
                     <image height="100" width="100" class="cat_image" src="res://bakery" stretch="aspectFit" row="1" col="0" colSpan="2"></image> 
               
                     <StackLayout row="2" col="0" colSpan="2" class="text-center">
                        <Label text="Priya Cream Cakes" textWrap="true" class="color-black" alignContent="center"></Label>
                   </StackLayout>
                  </GridLayout> 

                  <GridLayout rows="*, *, *" columns="*, *" row="0" col="7"> 
                 
                     <image  height="50" width="100" class="cat_image" src="res://discount" stretch="aspectFit" row="0" col="0"></image> 
               
                     <StackLayout row="0" col="0" verticalAlignment="center" horizontalAlignment="left" width="90" row="0" col="0" >
                        <Label text="65%" class="bold" margin="0,0,0,35" fontSize="15" color="#fff"></Label>
                    </StackLayout>
                     <image height="100" width="100" class="cat_image" src="res://ice_cream" stretch="aspectFit" row="1" col="0" colSpan="2"></image> 
               
                     <StackLayout row="2" col="0" colSpan="2" class="text-center">
                        <Label text="Amul Ice Creams" textWrap="true" class="color-black" alignContent="center"></Label>
                   </StackLayout>
                  </GridLayout> 

                  <GridLayout rows="*, *, *" columns="*, *" row="0" col="8"> 
                 
                     <image  height="50" width="100" class="cat_image" src="res://discount" stretch="aspectFit" row="0" col="0"></image> 
               
                     <StackLayout row="0" col="0" verticalAlignment="center" horizontalAlignment="left" width="90" row="0" col="0" >
                        <Label text="55%" class="bold" margin="0,0,0,35" fontSize="15" color="#fff"></Label>
                    </StackLayout>
                     <image height="100" width="100" class="cat_image" src="res://banana" stretch="aspectFit" row="1" col="0" colSpan="2"></image> 
               
                     <StackLayout row="2" col="0" colSpan="2" class="text-center">
                        <Label text="Fresh Bananas" textWrap="true" class="color-black" alignContent="center"></Label>
                   </StackLayout>
                  </GridLayout> 
            </GridLayout>
      
      </StackLayout>
   </ScrollView>
</ng-container>


<stacklayout orientation="horizontal" width="100%" height="50" verticalAlignment="top" backgroundcolor="red">
   <Label text="Hot Deals" class="ft20"  width="80%" height="40" style="padding-left: 20;"></Label>    
</stacklayout>

<ng-container>
   <GridLayout columns="auto,auto" rows="auto" verticalAlignment="top" margin="16" >

      <ng-container >
         <GridLayout height="160" margin="15" width="170" class="cat_image" backgroundColor="red" row="0" col="0">
            <image  height="150" margin="15" width="150" class="cat_image"
            src="res://flour3" stretch="aspectFill" ></image>
            </GridLayout>
        </ng-container>


        <ng-container >
         <GridLayout height="150" margin="15" width="170" class="cat_image" row="0" col="1" backgroundColor="#ffe6e6">
            <image  height="130 " margin="15" width="130" class="cat_image"
            src="res://hot_deal_tag" stretch="aspectFit" ></image>
            <StackLayout row="1" col="1" colSpan="2" class="text-center">
               <Label text="10% off" textWrap="true" class="color-black fas-30" alignContent="center"></Label>
            </StackLayout>
            
          
            </GridLayout>
        </ng-container>
      </GridLayout>                
   </ng-container>

 
  
        <ng-container>
              <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                  <StackLayout orientation="horizontal" padding="10 20">
                      
                     <GridLayout  rows="150" columns="280,280,280,280,280" marginTop="15">
                        <image src="res://vegetables" stretch="aspectFill" class="cat_image1" height="150" width="260" col="0" row="0"  ></image> 
                
                         <image src="res://fruits" stretch="aspectFill" class="cat_image1" height="150" width="260" col="1" row="0" ></image> 
                     
                         <image src="res://leafy_veg" stretch="aspectFill" class="cat_image1" height="150" width="260"  col="2" row="0" ></image> 
                     
                         <image src="res://chocolate" stretch="aspectFill" class="cat_image1" height="150" width="260" col="3" row="0" ></image> 
                
                         <image src="res://vegetables" stretch="aspectFill" class="cat_image1" height="150" width="260"  col="4" row="0" ></image> 
                      </GridLayout>
                    
                  </StackLayout>
              </ScrollView>
          </ng-container> -->
          <Label *ngIf="true"  [text]="'Categories4'" class="bold font-size-h3"  margin="20 20 0 20"></Label>
          <ng-container>
              <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                  <StackLayout orientation="horizontal" padding="10 20">
                      
                     <GridLayout  rows="150" columns="280,280,280,280,280" marginTop="15">
                        <image src="res://vegetables" stretch="aspectFill" class="cat_image1" height="150" width="260" col="0" row="0"  ></image> 
                
                         <image src="res://fruits" stretch="aspectFill" class="cat_image1" height="150" width="260" col="1" row="0" ></image> 
                     
                         <image src="res://leafy_veg" stretch="aspectFill" class="cat_image1" height="150" width="260"  col="2" row="0" ></image> 
                     
                         <image src="res://chocolate" stretch="aspectFill" class="cat_image1" height="150" width="260" col="3" row="0" ></image> 
                
                         <image src="res://vegetables" stretch="aspectFill" class="cat_image1" height="150" width="260"  col="4" row="0" ></image> 
                      </GridLayout>
                    
                  </StackLayout>
              </ScrollView>
          </ng-container>
         

      </StackLayout>
  </ScrollView>
  </GridLayout> 
 