<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Settings" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<GridLayout row="*" columns="100,auto" verticalAlignment="center">
  <Label class="fs-30 fas" text="&#xf013;" row="0" col="0"></Label>
  <Label class="ft20" text="!<--Page content goes here--->" row="0" col="1"></Label>
</GridLayout>
